@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  width: 100%;
  height:100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background:radial-gradient(rgb(28, 247, 119), rgb(16, 66, 29),  rgb(6, 48, 23));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#login,
#loggedin {
    display: none;

}
#login-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-60%, -56%);
  padding: 20px;
  align-items: center;

}
#login h1 {
  padding: 60px;
  text-align: center;
  background: local;
  font-size: xx-large;
  text-shadow: 2px 2px red;
  
}
#main {
  text-align: right;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
}

#main h1 {
  text-shadow: -1px 1px rgba(28, 247, 119, 0.692);
  opacity: 90%;
  animation: gradient 4s ease infinite;
}

#profileImage {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}

#getButton {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

button {
  background-color: rgba(100, 100, 100, 0.685);
  color: white;
  display: inline-block;
  border: 2px inset rgb(87, 87, 87);
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0px 3px rgba(78, 78, 78, 0.582);
}

button:hover {
  background-color: rgba(87, 87, 87, 0.616);
}

button:active {
  box-shadow: 0px 1px rgba(78, 78, 78, 0.582);
  transform: translateY(2px);
}

#logout-button {
  float: right;
  margin-right: 33px;
  
}

#topTables {
  margin-top: 50px;
}

.table {
  opacity: 90%;
}

#artists{
  display: none;
  width: fit-content;
  margin: auto;
}

#getTopTracks {
  display: none;
}

#artists img {
  width: 100px;
}

.artistNumber{
  width: fit-content;
}

.artistName {
  width: fit-content;
  min-width: 100px;
}

.trackName {
  width: 200px;
}

#playlistTable {
  display: none;
  margin: auto;
  width: fit-content;
  max-width: 400px;
}

#tracklistTable {
  display: none;
  margin: auto;
  width: fit-content;
  max-width: 250px;
}

#tracklistFrame {
  display: none;
  margin: auto;
  width: fit-content;
  max-width: 250px;
}

.overlay {
  display: none;
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.overlay h1 {
  cursor: pointer;
  text-align: center;
  text-shadow: -1px 1px rgba(202, 202, 202, 0.692);
}
