#login,
#loggedin {
    display: none;
}

td {
    border: grey solid 1px;
    overflow-wrap: anywhere;
}

td:first-child {
    min-width: 150px;
}

#artists{
  display: none;
  width: 900px;
  margin: auto;
}

#getTopTracks {
  display: none;
}

#artists img {
  width: 100px;
}

.artistNumber{
  width: 50px;
}

.artistName {
  width: 200px;
}

.trackName {
  width: 200px;
}

#playlistTable {
  display: none;
}